{extend name='public/base' /}

{block name='link'}
<link rel="stylesheet" href="{$public_url}/css/list.css?version={$version}">
{/block}

{block name='body'}
<!-- 标题 -->
<div class="filter-option">
    <form class="layui-form layui-form-pane" id="search">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">uid</label>
                <div class="layui-input-inline">
                    <input type="text" name="uid" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">手机号码</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">币种类型</label>
                <div class="layui-input-inline">
                    <select name="coin_id">
                        <option value="">请选择...</option>
                        {foreach $coin as $v}
                        <option value="{$v->id}">{$v->name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">记录类型</label>
                <div class="layui-input-inline">
                    <select name="type">
                        <option value="">请选择...</option>
                        {foreach $balance_record_type as $v}
                        <option value="{$v->type}">{$v->name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn" type="submit" lay-submit lay-filter="search">查询</button>
            </div>
        </div>
    </form>
</div>

<div class="operation">
    <!--<button class="layui-btn" data-link="{$ctrl_url}/addView?mode=add" id="add">添加</button>-->
    <!--<button class="layui-btn" id="delete-selected">删除选中项</button>-->
</div>

<!-- 列表 -->
<div class="list">
    <table class="layui-hide" id="list" lay-filter="table"></table>
</div>
{/block}

{block name='script'}
<script type="text/html" id="operation">
    <button class="layui-btn layui-btn-xs" lay-event="del">删除</button>
    <!--<button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>-->
</script>
<script src="{$ctrl_res_url}/js/list.js?version={$version}"></script>
{/block}