{extend name='public/iframe' /}

{block name='link'}
<link rel="stylesheet" href="{$public_url}/css/thing.css?version={$version}">
<link rel="stylesheet" href="{$ctrl_res_url}/css/thing.css?version={$version}">
{/block}

{block name='body'}
<!--<form class="layui-form layui-form-pane" method="post" id="form">-->
<form class="layui-form" id="form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <input type="text" name="username" required="required" value="{$thing->username ?? ''}"  lay-verify="required" class="layui-input">
        </div>
    </div>

    {if $mode == 'add'}
    <div class="layui-form-item">
        <label class="layui-form-label">密码<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <input type="text" name="password" required="required" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认密码<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <input type="text" name="confirm_password" required="required" lay-verify="required" class="layui-input">
        </div>
    </div>
    {else /}
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="text" name="confirm_password" class="layui-input">
        </div>
    </div>
    {/if}


    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <div class="line">
                <button type="button" class="layui-btn" id="image">
                    <i class="layui-icon">&#xe67c;</i>头像
                </button>
            </div>
            <div class="line" id="image-preview">
                <img src="{$thing->avatar_explain ?? ''}" class="image">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">请选择角色<span class="font-red">*</span></label>
        <div class="layui-input-block">
            <select name="role_id" required="required"  lay-verify="required">
                <option value="">请选择...</option>
                {foreach $role as $v}
                {if $mode == 'edit'}
                <option value="{$v->id}" {if $thing->role_id == $v->id}selected="selected"{/if}>{$v->name}</option>
                {else /}
                <option value="{$v->id}">{$v->name}</option>
                {/if}
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">用户状态<b class="font-red">*</b></label>
        <div class="layui-input-block">
            {foreach $status as $k => $v}
            {if $mode == 'edit'}
            <input type="radio" name="status" value="{$k}" title="{$v}" {if $k == $thing->status}checked="checked"{/if}>
            {else /}
            <input type="radio" name="status" value="{$k}" title="{$v}" {if $k == 1}checked="checked"{/if}>
            {/if}
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
        </div>
    </div>

</form>
{/block}

{block name='script'}
<script src="{$ctrl_res_url}/js/thing.js?version={$version}"></script>
{/block}