{extend name='public/iframe' /}

{block name='link'}
<link rel="stylesheet" href="{$public_url}/css/thing.css?version={$version}">
<link rel="stylesheet" href="{$ctrl_res_url}/css/thing.css?version={$version}">
{/block}

{block name='body'}
<!--<form class="layui-form layui-form-pane" method="post" id="form">-->
<form class="layui-form" id="form">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">位置<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <select name="pos" required="required" lay-verify="required">
                <option value="">请选择</option>
                {foreach $image_pos as $k => $v}
                    {if $mode == 'edit'}
                    <option value="{$k}" {if $k == $thing->pos}selected='selected'{/if}>{$v}</option>
                    {else /}
                    <option value="{$k}">{$v}</option>
                    {/if}
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <div class="line">
                <button type="button" class="layui-btn" id="image">
                    <i class="layui-icon">&#xe67c;</i>图片
                </button>
            </div>
            <div class="line" id="image-preview">
                {if $mode == 'edit'}
                <img src="{$thing->image ?? ''}" class="image">
                {/if}
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">链接</label>
        <div class="layui-input-block">
            <input type="text" name="link" value="{$thing->link ?? ''}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权重</label>
        <div class="layui-input-block">
            <input type="number" step="0" name="weight" value="{$thing->weight ?? 0}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="submit" lay-filter="form">立即提交</button>
        </div>
    </div>

</form>
{/block}

{block name='script'}
<script src="{$ctrl_res_url}/js/thing.js?version={$version}"></script>
{/block}