{extend name='public/iframe' /}

{block name='link'}
<link rel="stylesheet" href="{$public_url}/css/thing.css?version={$version}">
<link rel="stylesheet" href="{$ctrl_res_url}/css/thing.css?version={$version}">
{/block}

{block name='body'}
<!--<form class="layui-form layui-form-pane" method="post" id="form">-->
<form class="layui-form" id="form">

    <div class="layui-form-item">
        <label class="layui-form-label">名称<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <input type="text" name="name" required="required" value="{$thing->name ?? ''}" required="required" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <div class="line">
                <button type="button" class="layui-btn" id="image">
                    <i class="layui-icon">&#xe67c;</i>图标
                </button>
            </div>
            <div class="line" id="image-preview">
                <img src="{$thing->pic_explain ?? ''}" class="image">
            </div>
        </div>
    </div>

    <div class="layui-form-item {if $mode == 'edit' && $thing->type == 3}layui-hide{/if}">
        <label class="layui-form-label">iphone程序链接</label>
        <div class="layui-input-block">
            <input type="text" name="url" required="required" value="{$thing->url ?? ''}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">iphone下载地址</label>
        <div class="layui-input-block">
            <input type="text" name="download_url" required="required" value="{$thing->download_url ?? ''}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">android程序链接</label>
        <div class="layui-input-block">
            <input type="text" name="android_url" required="required" value="{$thing->android_url ?? ''}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">android下载地址</label>
        <div class="layui-input-block">
            <input type="text" name="android_download_url" required="required" value="{$thing->android_download_url ?? ''}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否应用</label>
        <div class="layui-input-block">
            {foreach $bool as $k => $v}
                {if $mode == 'edit'}
                    <input type="radio" name="is_app" value="{$k}" title="{$v}" {if $k == $thing->is_app}checked="checked"{/if}>
                {else /}
                    <input type="radio" name="is_app" value="{$k}" title="{$v}" {if $k == 0}checked="checked"{/if}>
                {/if}
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            {foreach $type as $k => $v}
            {if $mode == 'edit'}
            {if $k == $thing->type}
            <input type="radio" name="type" value="{$k}" title="{$v}" checked="checked">
            {/if}
            {else /}
            {if $k == 2}
            <input type="radio" name="type" value="{$k}" title="{$v}" checked="checked">
            {/if}
            {/if}
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            {foreach $status as $k => $v}
            {if $mode == 'edit'}
            <input type="radio" name="status" value="{$k}" title="{$v}" {if $k == $thing->status}checked="checked"{/if}>
            {else /}
            <input type="radio" name="status" value="{$k}" title="{$v}" {if $k == 1}checked="checked"{/if}>
            {/if}
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="submit" lay-filter="form">立即提交</button>
        </div>
    </div>

</form>
{/block}

{block name='script'}
<script src="{$ctrl_res_url}/js/thing.js?version={$version}"></script>
{/block}