body {
    padding: 20px;
}

.layui-body .layui-table-cell {
    height: auto;
    white-space: normal;
}

.layui-body .layui-table-cell .image {
    max-height: 100px;
}

/**
 * ***************
 * 快捷样式
 * ***************
 */
.font-gray {
    color: #999;
}

.font-red {
    color: red;
}

.font-green {
    color: green;
}

/**
 * *****************
 * layui 表单
 * *****************
 */
.layui-form .layui-form-item .layui-run-text {
    position: absolute;
}

.layui-form .layui-form-item .layui-run-text-middle {
    left: 0;
    top: 50%;
    transform: translate3d(0% , -50% , 0);
    -webkit-transform: translate3d(0% , -50% , 0);
    -moz-transform: translate3d(0% , -50% , 0);
    -ms-transform: translate3d(0% , -50% , 0);
    -o-transform: translate3d(0% , -50% , 0);
}