{extend name='public/iframe' /}

{block name='link'}
<link rel="stylesheet" href="{$public_url}/css/thing.css?version={$version}">
<link rel="stylesheet" href="{$ctrl_res_url}/css/thing.css?version={$version}">
{/block}

{block name='body'}
<!--<form class="layui-form layui-form-pane" method="post" id="form">-->
<form class="layui-form" id="form">

    <div class="layui-form-item layui-hide">
        <label class="layui-form-label">参数名称<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <input type="text" name="key" {if $mode == 'edit'}readonly="readonly"{/if} required="required" value="{$thing->key ?? ''}"  lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="discript" value="{$thing->discript ?? 0}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">参数值<b class="font-red">*</b></label>
        <div class="layui-input-block">
            <input type="text" name="val" required="required" value="{$thing->val ?? 0}"  lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="submit" lay-filter="form">立即提交</button>
        </div>
    </div>

</form>
{/block}

{block name='script'}
<script src="{$ctrl_res_url}/js/thing.js?version={$version}"></script>
{/block}