{extend name='public/form' /}

{block name='title'}登录{/block}

{block name='link'}
<link rel="stylesheet" href="{$module_url}/login/css/login.css?version={$version}">
{/block}

{block name='body'}
<div class="container">
    <div class="header">欢迎使用 {$os['name']} 后台管理系统</div>
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="form">立即提交</button>
            </div>
        </div>
    </form>
</div>
{/block}

{block name='script'}
<script src="{$module_url}/login/js/login.js?version={$version}"></script>
{/block}